.accounts-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;

    background-color: lightblue;
    
    display: flex;
    flex-direction: column;
}

.account-button {
    margin: 10%;
    margin-bottom: 0%;
    width: 80%;
    height: 2rem;
}

.account-button button {
    border: 0;
    width: 100%;
    height: 100%;
}

.account-details {
    position: absolute;
    top: 0;
    left: 10%;
    width: 90%;
    height: 100%;

    padding: 1%;
}

.account-details p {
    margin: 0;
}
